* {
  box-sizing: border-box;
}

.grid-container {
  display: flex;
  display: grid;
  border: 15px solid #FFF;
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  height: 100vh;
  width: 100vw;
  grid-template-areas: 
            "a b c"
            "a b c"
            "a b c";
}

.one {
  grid-area: a;
  display: flex;
  border: 3px solid #000;
	flex-direction: column;
	justify-content: center;
	animation: bgChange 5s linear infinite;
}

@keyframes bgChange {
  0%   {background-color:yellow; left:0px; top:0px;}
  25%  {background-color:blue; left:200px; top:0px;}
  50%  {background-color:yellow; left:200px; top:200px;}
  75%  {background-color:blue; left:0px; top:200px;}
  100% {background-color:yellow; left:0px; top:0px;}
}

.two {
  grid-area: b;
  background-color: #FFF;
  display: flex;
	flex-direction: column;
	justify-content: center;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;

}

.three {
  grid-area: c;
  background-color: blue;
  display: flex;
	flex-direction: column;
	justify-content: center;
  border: 3px solid #000;
}